h1 {
        font-size: 2.0em;
        color:brown;
}
h2 {
        font-size: 1.5em;
        color: brown;
}
p {
        color: gray;
}
body {
        background-color: #e7dab8;
        font-family: Verdana, Tahoma, sans-serif;
}
hr {
        border-color: brown;
}
