h1 {
        color:brown;
}
h2 {
        color: brown;
}
p {
        color: gray;
}
body {
        background-color: yellow;
        font-family: Verdana, Tahoma, sans-serif;
}
hr {
        border-color: brown;
}
